.dub
docs.json
__dummy.html
docs/
/mantissa
mantissa.so
mantissa.dylib
mantissa.dll
mantissa.a
mantissa.lib
mantissa-test-*
*.exe
*.o
*.obj
*.lst
dub.selections.json
config.log
config.status
configure
dub.json
Makefile
autom4te.cache
