[Desktop Entry]
Name=Mantissa
Comment=A minimalistic, simple GTK based browser.
GenericName=Web Browser
Exec=mantissa
Icon=mantissa
Terminal=false
Type=Application
Categories=Network;WebBrowser;
